apiVersion: apps/v1
kind: Deployment
metadata:
  name: demo-frontend
  namespace: demo
spec:
  replicas: 1
  selector:
    matchLabels:
      app: demo-frontend
  template:
    metadata:
      labels:
        app: demo-frontend
    spec:
      containers:
        - name: demo-frontend
          image: us-central1-docker.pkg.dev/devops-advance-477506/devops-advance-dev-repo/demo-frontend:latest
          ports:
            - containerPort: 80
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "200m"
              memory: "256Mi"
---
apiVersion: v1
kind: Service
metadata:
  name: demo-frontend
  namespace: demo
spec:
  type: LoadBalancer
  selector:
    app: demo-frontend
  ports:
    - port: 80
      targetPort: 80