apiVersion: apps/v1
kind: Deployment
metadata:
  name: demo-frontend
  namespace: demo
spec:
  replicas: 1
  selector:
    matchLabels:
      app: demo-frontend
  template:
    metadata:
      labels:
        app: demo-frontend
    spec:
      containers:
        - name: demo-frontend
          image: us-central1-docker.pkg.dev/devops-advance-477506/devops-advance-dev-repo/demo-frontend:latest
          imagePullPolicy: Always   # ⚠️ Quan trọng: để GKE luôn lấy image mới khi CI/CD push
          ports:
            - containerPort: 80
          env:
            # Optional - nếu muốn dùng biến môi trường cho API endpoint (React build time)
            - name: REACT_APP_API_URL
              value: "http://35.202.213.72:8000"  # IP của backend LoadBalancer
          resources:
            requests:
              cpu: 100m
              memory: 128Mi
            limits:
              cpu: 200m
              memory: 256Mi