apiVersion: v1
kind: PersistentVolume
metadata:
  name: filestore-pv
  namespace: demo
spec:
  capacity:
    storage: 1Ti
  accessModes:
    - ReadWriteMany
  nfs:
    path: /default
    server: 10.149.117.210
  persistentVolumeReclaimPolicy: Retain
  storageClassName: filestore-sc

---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: filestore-pvc
  namespace: demo
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 1Ti
  storageClassName: filestore-sc