apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: filestore-pvc
  namespace: demo
spec:
  accessModes:
    - ReadWriteMany
#  resources:
#    requests:
#      storage: 1Gi
  storageClassName: filestore-sc