name: Build and Deploy to GKE

on:
  push:
    branches:
      - main

env:
  PROJECT_ID: devops-advance-477506
  ZONE: us-central1-a
  REPO_NAME: devops-advance-dev-repo
  CLUSTER_NAME: devops-advance-dev-gke
  GKE_NAMESPACE: demo

jobs:
  deploy:
    name: Build and Deploy FE + BE
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Google Cloud SDK
        uses: google-github-actions/setup-gcloud@v2
        with:
          project_id: ${{ env.PROJECT_ID }}
          service_account_key: ${{ secrets.GCP_SA_KEY }}
          export_default_credentials: true

      - name: Authenticate with Service Account
        run: |
          echo '${{ secrets.GCP_SA_KEY }}' > /tmp/key.json
          gcloud auth activate-service-account --key-file=/tmp/key.json
          gcloud config set project ${{ env.PROJECT_ID }}

      - name: Configure Docker auth
        run: gcloud auth configure-docker ${{ env.ZONE }}-docker.pkg.dev --quiet

      - name: Build and Push Backend
        run: |
          docker buildx build --platform linux/amd64 --no-cache \
            -t ${{ env.ZONE}}-docker.pkg.dev/${{ env.PROJECT_ID }}/${{ env.REPO_NAME }}/demo-backend:latest \
            ./app/backend --push

      - name: Build and Push Frontend
        run: |
          docker buildx build --platform linux/amd64 --no-cache \
            -t ${{ env.ZONE }}-docker.pkg.dev/${{ env.PROJECT_ID }}/${{ env.REPO_NAME }}/demo-frontend:latest \
            ./app/frontend --push

      - name: Get GKE credentials
        run: |
          gcloud container clusters get-credentials ${{ env.CLUSTER_NAME }} \
            --region ${{ env.ZONE }} --project ${{ env.PROJECT_ID }}

      - name: Deploy manifests
        run: |
          kubectl -n ${{ env.GKE_NAMESPACE }} apply -f app/backend/k8s/
          kubectl -n ${{ env.GKE_NAMESPACE }} apply -f app/frontend/k8s/
          kubectl -n ${{ env.GKE_NAMESPACE }} rollout restart deployment demo-backend
          kubectl -n ${{ env.GKE_NAMESPACE }} rollout restart deployment demo-frontend