name: Build & Deploy to GKE

on:
  push:
    branches: [ main ]

env:
  PROJECT_ID: devops-advance-477506
  AR_REGION: us-central1          # Artifact Registry region
  GKE_ZONE: us-central1-a         # GKE zone
  CLUSTER_NAME: devops-advance-dev-gke
  REPO: devops-advance-dev-repo
  NAMESPACE: demo

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Auth to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}

      - name: Setup gcloud
        uses: google-github-actions/setup-gcloud@v2
        with:
          project_id: ${{ env.PROJECT_ID }}
          install_components: gke-gcloud-auth-plugin

      - name: Docker login to Artifact Registry
        run: |
          gcloud auth configure-docker $AR_REGION-docker.pkg.dev --quiet
          # hoặc cách khác (ổn định):
          gcloud auth print-access-token | \
            docker login -u oauth2accesstoken --password-stdin https://$AR_REGION-docker.pkg.dev

      - name: Get GKE credentials
        run: |
          gcloud container clusters get-credentials $CLUSTER_NAME \
            --zone $GKE_ZONE --project $PROJECT_ID

      - name: Build & Push Backend
        run: |
          docker buildx create --use --name builder || true
          docker buildx build --platform linux/amd64 \
            -t $AR_REGION-docker.pkg.dev/$PROJECT_ID/$REPO/demo-backend:latest \
            ./app/backend --push

      - name: Build & Push Frontend
        run: |
          docker buildx create --use --name builder || true
          docker buildx build --platform linux/amd64 \
            -t $AR_REGION-docker.pkg.dev/$PROJECT_ID/$REPO/demo-frontend:latest \
            ./app/frontend --push

      - name: Deploy to GKE
        run: |
          kubectl apply -n $NAMESPACE -f app/backend/k8s/
          kubectl apply -n $NAMESPACE -f app/frontend/k8s/